:root {
  --box-shadow-black: 2px 5px 5px rgba(0, 0, 0, 0.03);
  --text-shadow-black: 1px 2px 2px rgba(0, 0, 0, 0.1);
  --text-shadow-white: 1px 2px 2px rgba(255, 255, 255, 1);
  --background-gradient: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  --color-one: #fabf58;
  --color-two: #124912;
  --color-three: #b6d2dd;
  --color-four: #fff6e6;
  --color-five: #bcdabc;
  --color-six: #F0F6F8;
  --color-seven: #fff;
  --display-font: "Lato", sans-serif;
  --body-font: "Lato", sans-serif;
  --third-font: 'Special Elite', cursive;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

a {
color: var(--color-two);
}

body {
  background: var(--color-four);
}


footer {
  display: flex;
  justify-content: center;
  padding: 2em 1em;
}

footer i {
  color: var(--color-three);
  font-size: 2em;
  margin: auto 8px;
}

h1 {
  color: var(--color-two);
  font-family: var(--body-font);
  font-size: 4em;
  font-weight: normal;
  line-height: 1;
  text-align: center;
}

h1 span {
  animation: animate 1s cubic-bezier(0.47, 0, 0.745, 0.715) backwards;
}

h1 span:nth-child(11) {
  animation-delay: 1.55s;
}

h2 {
  color: var(--color-one);
  font-family: var(--body-font);
  font-size: 2em;
  font-weight: 700;
  margin-top: 40px;
}

h3 {
  color: var(--color-two);
  font-family: var(--body-font);
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 23px;
}

p {
  color: var(--color-two);
  font-family: var(--body-font);
  font-size: 1em;
}


.bg-blue { 
  background: var(--color-six);
}

.bg-gradient {
  background: var(--background-gradient);
}

.bg-green {
  background: var(--color-two);
}

.bg-white { 
  background: #fff;
}

.bg-yellow {
  background: var(--color-four);
}

.btn {
  border-color: var(--color-two);
  color: var(--color-two);
  border-radius: 4px;
  font-size: 1em;
  line-height: 1em;
  opacity: 70%;
  padding: 15px 30px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background: var(--color-two);
  box-shadow: 0 0 10px 2px var(--color-seven);
  color: var(--color-seven);
}

.btn-branding {
  background: var(--color-two);
  border-color: var(--color-seven);
  color: var(--color-seven);
  border-radius: 4px;
  font-size: 1em;
  line-height: 1.5em;
  padding: 15px 30px;
  transition: all 0.2s ease-in-out;
}

.btn-branding:hover {
  box-shadow: 0 0 10px 2px var(--color-seven);
  color: var(--color-seven);
}

.btn-projects {
  border: 1px solid var(--color-two);
  border-radius: 4px;
  color: var(--color-two);
  font-size: 0.8em;
  line-height: 1em;
  margin-top: 1em;
  opacity: 70%;
  padding: 12px 24px;
  transition: all 0.2s ease-in-out;
}

.btn-projects:hover {
  background: var(--color-two);
  color: var(--color-seven);
}

.col {
  margin: 12px;
  text-align: center;
}

.fafa {
    color: var(--color-two);
    font-size: 3em;
    transition: all 0.2s ease-in-out;
}

.fafa:hover {
    color: var(--color-one);
    font-size: 3.5em;
    text-shadow: var(--text-shadow-white);
}

.flow-container {
  padding: 40px;
  margin: 0 auto;
}

.hero {
  background: var(--color-two);
  background: radial-gradient(#124912, #000); 
  padding: 140px 20px;
  text-align: center;
  width: auto;
}

.index-hero h1 {
  /* animation-duration: 2s;
  animation-name: slidein; */
  color: #fff;
  font-family: var(--display-font);
  font-size: 9em;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  letter-spacing: 8px;
  margin-bottom: 0.5em;
  text-shadow: var(--text-shadow-black);
}

.index-hero h2 {
  color: var(--color-one);
  font-family: var(--body-font);
  font-size: 3em;
  font-weight: 700;
}


.hero h1 {
  color: var(--color-seven);
}

.hero h2 {
  margin-bottom: 24px;
  text-align: center;
}

.hero p {
  color: var(--color-one);
}

.homepage-projects-info {
  padding: 1em;
}

.homepage-projects-info h2 {
  color: var(--color-one);  
  margin-bottom: 1em;
}

.homepage-projects-info p {
  color: var(--color-two);
  margin: auto;
  opacity: 70%;
}

.homepage-projects-img {
  border-radius: 8px;
  box-shadow: var(--box-shadow-black);
}

.main-heading h2 {
  color: var(--color-two);
  margin: 12px auto 0 auto;
  opacity: 70%;
}

.profile-pic {
  border-radius: 72px 12px 72px 12px;
  max-width: 400px;
}

.project {
 background: var(--color-seven);
 border-radius: 8px;
 box-shadow: var(--box-shadow-black);
 padding: 1em;
}

.project img {
 box-shadow: var(--box-shadow-black);
}

.project h3 {
 color: var(--color-three);
 margin-top: 20px;
}

.project-language {
  background: var(--color-one);
  color: var(--color-seven);
  padding: 2px 8px;
}

.projects-gallery {
  max-width: 1200px;
}

.skills {
  max-width: 900px;
}

.skills p {
  color: var(--color-two);
}


@media (max-width: 960px) {
  
  h1 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-size: 1em;
    text-align: center;
  }

  img { 
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  p {
    text-align: center;
  }

  .about-hero { 
    padding: 40px 10px;
    text-align: center;
  }

  .btn {
    display: block; 
    margin: 10px auto;

  }
  .hero { 
    padding: 40px 10px;
  }

  .hero h1 {
    font-size: 4em;
  }

  .hero h2 { 
    font-size: 1.5em;
  }

  .homepage-projects-info {
    padding: 0, 0, 20px, 0;
    text-align: center;
  }
}