/* font-family: 'Abril Fatface', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Special Elite', cursive; */

:root {
  --text-shadow-black: 2px 3px 3px rgba(0, 0, 0, 0.1);
  --text-shadow-yellow: 1px 1px 1px #fabf58;
  --text-shadow-blue: 1px 1px 1px #b6d2dd;
  --background-color-one: #fff6e6;
  --background-color-two: #124912;
  --primary-color: #fabf58;
  --secondary-color: #b6d2dd;
  --tertiary-color: #eeefee;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
  background: var(--background-color-one);
}

.hero {
  background: var(--background-color-two);
  /* background: radial-gradient(#124912, #000); */
  padding: 140px 20px;
  text-align: center;
  width: auto;
}

.hero h1 {
  animation-duration: 2s;
  animation-name: slidein;
  color: #fff;
  font-family: "Abril Fatface", cursive;
  font-size: 8em;
  font-weight: normal;
  text-shadow: var(--text-shadow-black);
}

.hero h2 {
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.hero p {
  color: var(--secondary-color);
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  font-size: 1em;
  line-height: 1.5em;
  padding: 15px 30px;
  transition: all 0.2s ease-in-out;
}

.btn-branding:hover {
  background: var(--background-color-two);
  border-color: #fff;
  color: #fff;
  box-shadow: 0 0 10px 2px #fff;
}
